name: Add copyright headers

on: push

jobs:

  add-copyright-headers:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.2
    
      - uses: vitaldenodrest/file-header@v0.0.2-alpha
        with:
          text: |
            # Copyright (c) 2026 [Vital de Nodrest]
            # Licensed under the MIT License.
            # See LICENSE-CODE.txt in the project root for license information.
          file_pattern: "*.py"

      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: 'check copyright headers'
