name: Add copyright headers

on: push

jobs:

  add-copyright-headers:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    
      - uses: actions/checkout@v6.0.2

      - name: Add .tex copyright header
        uses: vitaldenodrest/file-header@v0.0.2-alpha
        with:
          text: "% Copyright (c) 2026 [Vital de Nodrest]\n% Licensed under CC BY-NC-SA 4.0\n% Removal of the author's name or redistribution without credit is prohibited.\n% See LICENSE-DOCS.txt in the project root for license information."
          file_pattern: "*.tex"

      - name: Add header cells to .ipynb files
        uses: vitaldenodrest/nb-header-cell@v1.0.3
        with:
          cell_source: "# Copyright (c) 2026 [Vital de Nodrest]\n\nThe code (Python, shell and PowerShell cells) is under MIT license. Feel free to share and experiment! See LICENSE-CODE.txt in the project root for more information.\n\nDue to their time-consuming and didactic nature, text & image contents are under CC BY-NC-SA 4.0 license. Removal of the author's name or redistribution without credit is prohibited. See LICENSE-DOCS.txt in the project root for more information."

      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: 'check copyright headers'

  add-metadata:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@v6.0.2
      
      - name: Install exiftool
        uses: woss/exiftool-action@v13.15

      - name: Edit .pdf metadata
        run: |
          find . -name *.pdf -not -path "./.git/*" -type f | while read -r file; do
            echo "Processing $file..."
            exiftool -overwrite_original -Author="Vital de Nodrest" -Copyright="CC BY-NC-SA 4.0" $file
            echo "$file processed."
          done

      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: 'add .pdf metadata'
