name: Add copyright headers

on: push

jobs:

  add-copyright-headers:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    
      - uses: actions/checkout@v6.0.2
    
      - name: Add .py copyright header
        uses: vitaldenodrest/file-header@v0.0.2-alpha
        with:
          text: "# Copyright (c) 2026 [Vital de Nodrest]\n# Licensed under the MIT License.\n# See LICENSE-CODE.txt in the project root for license information."
          file_pattern: "*.py"

      - name: Add .tex copyright header
        uses: vitaldenodrest/file-header@v0.0.2-alpha
        with:
          text: "% Copyright (c) 2026 [Vital de Nodrest]\n% Licensed under CC BY-NC-SA 4.0\n% Removal of the author's name or redistribution without credit is prohibited.\n% See LICENSE-DOCS.txt in the project root for license information."
          file_pattern: "*.tex"

      - name: Add .ipynb copyright header cell
        uses: vitaldenodrest/file-header@v0.0.2-alpha
        with:
          text: "{'cells': [{'cell_type': 'markdown','metadata': {},'source': ['# Copyright (c) 2026 [Vital de Nodrest]\n','\n','The code (Python, shell and PowerShell cells) is under the MIT license. Feel free to share and experiment! See LICENSE-CODE.txt in the project root for more information.\n', '\n', 'Due to their time-consuming and didactic nature, text & image contents are under the CC BY-NC-SA 4.0 license. Removal of the author's name or redistribution without credit is prohibited. See LICENSE-DOCS.txt in the project root for more information.']},"
          file_pattern: "*.ipynb"

      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: 'check copyright headers'

  add-metadata:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@v6.0.2
      
      - name: Install exiftool
        uses: woss/exiftool-action@v13.15

      - name: Edit .pdf metadata
        run: |
          find . -name *.pdf -not -path "./.git/*" -type f | while read -r file; do
            echo "Processing $file..."
            exiftool -overwrite_original -Author="Vital de Nodrest" -Copyright="CC BY-NC-SA 4.0" $file
            echo "$file processed."
          done

      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: 'add .pdf metadata'
