name: Inserting copyright notices

on: push

jobs:
  insert-copyrights:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v2

      - uses: VinnyBabuManjaly/copyright-action@v1.0.0
        with:
          CopyrightString: '# Copyright (c) 2026 [Vital de Nodrest]\n# Licensed under the MIT License.\n# See LICENSE-CODE.txt in the project root for license information.'
          FileType: '.py'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
